@keyframes tileAnimation{
	$positionX : 0;
	$positionY : 0;
	
	0%{
		background-position: 0 0;
	}
	
	 @for $i from 1 to 61 {

		#{$i}% {
			$positionX: $positionX - 320;

			@if $i % 11 == 0{
				$positionX : 0;
				$positionY : $positionY - 210;
			}

			background-position: #{$positionX}px #{$positionY}px;
		}
	}
	to{
		background-position: -2880px -1050px;
	}
}